/*
* Ninja CSS V1.0
* Copyright 2012, Luke Scalf
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2012
*/

@import "variables.less";
@import "mixins.less";

/* =Basic Reset & Default Styles
-------------------------------------------------------------- */
* {
	border: none;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	padding-bottom: 1px;
}
body {
	background: @white;
	color: @textColor;
	font: normal @baseFontSize @defaultFontStack;
	line-height: @baseLineHeight;
	text-align: center;
}
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px transparent;
}
@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-stroke: 0 black;
	}
}


/* =Basic Structure
-------------------------------------------------------------- */
footer,
header,
section {
	clear: both;
	margin: 0 auto;
	position: relative;
}
.container {
	clear: both;
	margin: 0 auto;
	max-width: @gridRowWidth;
	padding: 20px 0 0;
	position: relative;
	text-align: left;
	*zoom: 1;
}
.container:after,
.container:before {
	content: "";
	display: table;
	line-height: 0;
}
.container:after {
	clear: both;
}


/* =Positioning, Floats, and Clearing
-------------------------------------------------------------- */
.clear {
	clear: both;
	height: 0;
	line-height: 0;
}
.fixed {
	position: fixed;
}
.pull-left {
	display: inline;
	float: left;
}
.pull-right {
	display: inline;
	float: right;
}


/* =Basic Form Styles
-------------------------------------------------------------- */
input,
textarea {
	color: @grayDark;
	#forms > .placeholder();
}


/* =Adaptive Grid
-------------------------------------------------------------- */
.grid {
	width: 100%;
	*zoom: 1;
}
.grid:after,
.grid:before {
	content: "";
	display: table;
	line-height: 0;
}
.grid:after {
	clear: both;
}
.buildGrid(@fluidGridColumnWidth, @fluidGridGutterWidth);

/* Margin Modifiers */
.no-margin {
	margin-bottom: 0 !important;
}
.xsmall-margin {
	margin-bottom: (@bottomMargin / 4) !important;
}
.small-margin {
	margin-bottom: (@bottomMargin / 2) !important;
}
.normal-margin {
	margin-bottom: @bottomMargin !important;
}
.large-margin {
	margin-bottom: (@bottomMargin * 2) !important;
}
.xlarge-margin {
	margin-bottom: (@bottomMargin * 4) !important;
}


/* =Typography
-------------------------------------------------------------- */
/* Text Alignment */
.align-center {
	text-align: center !important;
}
.align-inherit {
	text-align: inherit !important;
}
.align-justify {
	text-align: justify !important;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}

/* Typography Modifiers */
.bold {
	font-weight: bold;
}
.intro {
	font-size: 21px;
	line-height: 30px;
}
.italic {
	font-style: italic;
}
.no-list-style {
	list-style: none;
	margin-left: 0;
}
.overline {
	text-decoration: overline;
}
.strike {
	text-decoration: line-through;
}
.underline {
	text-decoration: underline;
}

/* Typographic Margins */
address,
blockquote,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
ul {
	margin-bottom: @bottomMargin;
}

/* a */
a,
a:focus,
a:hover,
a:visited {
	color: @blue;
	text-decoration: none;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

/* abbr */
abbr[title],
abbr[data-original-title] {
	border-bottom: @borderWidth dotted #999;
	cursor: help;
}

/* blockquote */
blockquote {
	border-left: 5px solid @grayLightest;
	padding: 5px 0 5px 20px;
}
blockquote p {
	color: @grayDarker;
	font-size: 16px;
	line-height: 25px;
	.no-margin;
}
blockquote small:before {
	content: '~ ';
}
blockquote.align-right {
	border-left: none;
	border-right: 5px solid @grayLightest;
	padding: 5px 20px 5px 0;
	text-align: right;
}

/* h1 - h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: @black;
	font-weight: normal;
	line-height: 100%;
}
h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

/* hr */
hr {
	background: #ccc;
	color: #ccc;
	height: 1px;
}
hr.large-margin {
	.large-margin;
	margin-top: (@bottomMargin * 2) !important;
}

/* img */
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* ol, ul */
ol,
ul {
	margin-left: 20px;
}

/* emphasis */
em {
	color: @grayDarker;
	font-style: italic;
}
small {
	color: @gray;
	font-size: 85%;
}
strong {
	color: @grayDarker;
	font-weight: bold;
}

/* emphasis classes */
.text-muted {
		color: @grayLight;
}
.text-primary {
		color: @primary;
}
.text-warning {
		color: @warning;
}
.text-error {
		color: @error;
}
.text-info {
		color: @info;
}
.text-success {
		color: @success;
}


/* =Basic Box Styles
-------------------------------------------------------------- */
.background {
	background: @grayLightest;
	#css3 > .radius(@borderRadius);
	padding: 10px 0;
}
.box.background {
	background: lighten(@grayLightest, 10%);
}
.box {
	border: @borderWidth solid @grayLightest;
	#css3 > .radius(@borderRadius);
	margin-bottom: @bottomMargin;
	padding: 20px 20px 0;
}


/* =Buttons & Button Groups
-------------------------------------------------------------- */
.button-group {
	margin-right: 11px;
	display: inline-block;
}
.buildButton(button, lighten(@muted, 30%), lighten(@muted, 10%), 5px);  // Don't change the first parameter of this function call!!!
.buildAdditionalButton(dark, darken(@muted, 20%), darken(@muted, 40%));
.buildAdditionalButton(primary, lighten(@primary, 20%), @primary);
.buildAdditionalButton(info, lighten(@info, 20%), @info);
.buildAdditionalButton(success, lighten(@success, 20%), @success);
.buildAdditionalButton(warning, lighten(@warning, 20%), @warning);
.buildAdditionalButton(error, lighten(@error, 20%), @error);
.button.small {
	font-size: 12px !important;
	height: 25px !important;
	line-height: 26px !important;
	padding: 0 8px 1px !important;
}
a.button.small {
	height: 26px !important;
	padding-bottom: 0 !important;
}


/* =Messages
-------------------------------------------------------------- */
.buildMessage(message, lighten(@muted, 10%));
.buildSecondaryMessage(primary, @primary);
.buildSecondaryMessage(info, @info);
.buildSecondaryMessage(warning, @warning);
.buildSecondaryMessage(error, @error);
.buildSecondaryMessage(success, @success);
.message.block {
		padding: 10px 10px 0;
}


/* =Media Queries - Here's where the magic happens
-------------------------------------------------------------- */
@media (max-width: 1200px) {
	/* Nothing Needed Here Yet */
}
@media (max-width: 1100px) {
	.container {
		max-width: 940px;
	}
}
@media (max-width: 979px) {
	.container {
		max-width: 700px;
	}
	.hide-tablet {
		display: none !important;
	}
	.span1,
	.span1 + [class*="span"],
	.tablet-full-width {
		clear: both;
		margin-left: 0;
		*margin-left: 0;
		width: 100%;
		*width: 100%;
	}
	.tablet-half-width {
		clear: none;
		width: 48.93617021276595% !important;
		*width: 48.88297872340425% !important;
	}
	.tablet-half-width:nth-child(2n+1) {
		margin-left: 0 !important;
		*margin-left: 0 !important;
	}
	
}
@media (max-width: 767px) {
	.container {
		width: 420px;
	}
	.hide-phone {
		display: none !important;
	}
	.phone-full-width,
	.span2,
	.span2 + [class*="span"] {
		clear: both;
		margin-left: 0;
		*margin-left: 0;
		width: 100%;
		*width: 100%;
	}
	.phone-half-width {
		clear: none;
		margin-left: 2.127659574468085%;
		*margin-left: 2.074468085106383%;
		width: 48.93617021276595%;
		*width: 48.88297872340425%;
	}
	.phone-half-width:first-child {
		margin-left: 0;
		*margin-left: 0;
	}
}
@media (max-width: 480px) {
	.container {
		width: 320px;
	}
	[class*="span"],
	[class*="span"]:first-child {
		clear: both !important;
		margin-left: 0 !important;
		*margin-left: 0 !important;
		width: 100% !important;
		*width: 100% !important;
	}
}
@media (max-width: 320px) {
	.container {
		width: 280px !important;
	}
}