/*
* Ninja CSS V1.0
* Copyright 2012, Luke Scalf
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2012
*/

@import "variables.less";
@import "mixins.less";

/* =Basic Reset & Default Styles
-------------------------------------------------------------- */
* {
	border: none;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	padding-bottom: 1px;
}
body {
	background: @white;
	color: @textColor;
	font: normal @baseFontSize @defaultFontStack;
	line-height: @baseLineHeight;
	text-align: center;
}
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px transparent;
}
@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-stroke: 0 black;
	}
}


/* =Basic Structure
-------------------------------------------------------------- */
footer,
header,
section {
	clear: both;
	margin: 0 auto;
	position: relative;
}
.container {
	clear: both;
	margin: 0 auto;
	padding: 20px 0 0;
	position: relative;
	text-align: left;
	width: @gridRowWidth;
	*zoom: 1;
}
.container:after,
.container:before {
	content: "";
	display: table;
	line-height: 0;
}
.container:after {
	clear: both;
}


/* =Positioning, Floats, and Clearing
-------------------------------------------------------------- */
.clear {
	clear: both;
	height: 0;
	line-height: 0;
}
.fixed {
	position: fixed;
}
.pull-left {
	display: inline;
	float: left;
}
.pull-right {
	display: inline;
	float: right;
}


/* =Adaptive Grid
-------------------------------------------------------------- */
.grid {
	width: 100%;
	*zoom: 1;
}
.grid:after,
.grid:before {
	content: "";
	display: table;
	line-height: 0;
}
.grid:after {
	clear: both;
}
.buildGrid(@fluidGridColumnWidth, @fluidGridGutterWidth);

/* Margin Modifiers */
.negative-margin {
	margin-bottom: -@bottomMargin !important;
}
.no-margin {
	margin-bottom: 0 !important;
}
.xsmall-margin {
	margin-bottom: (@bottomMargin / 4) !important;
}
.small-margin {
	margin-bottom: (@bottomMargin / 2) !important;
}
.normal-margin {
	margin-bottom: @bottomMargin !important;
}
.large-margin {
	margin-bottom: (@bottomMargin * 2) !important;
}
.xlarge-margin {
	margin-bottom: (@bottomMargin * 4) !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.xsmall-margin-top {
	margin-top: (@bottomMargin / 4) !important;
}
.small-margin-top {
	margin-top: (@bottomMargin / 2) !important;
}
.normal-margin-top {
	margin-top: @bottomMargin !important;
}
.large-margin-top {
	margin-top: (@bottomMargin * 2) !important;
}
.xlarge-margin-top {
	margin-top: (@bottomMargin * 4) !important;
}

/* Padding Modifiers */
.no-padding {
	padding: 0 !important;
}
.xsmall-padding {
	padding: (@bottomMargin / 4) !important;
}
.small-padding {
	padding: (@bottomMargin / 2) !important;
}
.normal-padding {
	padding: @bottomMargin !important;
}
.large-padding {
	padding: (@bottomMargin * 2) !important;
}
.xlarge-padding {
	padding: (@bottomMargin * 4) !important;
}


/* =Typography
-------------------------------------------------------------- */
/* Typographic Margins */
address,
blockquote,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
table,
ul {
	margin-bottom: @bottomMargin;
}

/* a */
a,
a:focus,
a:hover,
a:visited {
	color: @blue;
	text-decoration: none;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

/* abbr */
abbr[title],
abbr[data-original-title] {
	border-bottom: @borderWidth dotted #999;
	cursor: help;
}

/* blockquote */
blockquote {
	border-left: 5px solid @grayLightest;
	padding: 5px 0 5px 20px;
}
blockquote p {
	color: @grayDarker;
	font-size: 16px;
	line-height: 25px;
	.no-margin;
}
blockquote small:before {
	content: '~ ';
}
blockquote.align-right {
	border-left: none;
	border-right: 5px solid @grayLightest;
	padding: 5px 20px 5px 0;
	text-align: right;
}

/* h1 - h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: @black;
	font-weight: normal;
	line-height: 100%;
}
h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

/* hr */
hr {
	background: #ccc;
	color: #ccc;
	height: 1px;
}
hr.large-margin {
	.large-margin;
	margin-top: (@bottomMargin * 2) !important;
}

/* img */
img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* ol, ul */
ol,
ul {
	margin-left: 20px;
}

/* emphasis */
em {
	color: @grayDarker;
	font-style: italic;
}
small {
	color: @gray;
	font-size: 85%;
}
strong {
	color: @grayDarker;
	font-weight: bold;
}

/* emphasis classes */
.text-muted {
		color: @grayLight;
}
.text-primary {
		color: @primary;
}
.text-warning {
		color: @warning;
}
.text-error {
		color: @error;
}
.text-info {
		color: @info;
}
.text-success {
		color: @success;
}

/* Text Alignment */
.align-center {
	text-align: center !important;
}
.align-inherit {
	text-align: inherit !important;
}
.align-justify {
	text-align: justify !important;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}

/* Typography Modifiers */
.bold {
	font-weight: bold;
}
.intro {
	font-size: 21px;
	line-height: 30px;
}
.italic {
	font-style: italic;
}
.nobr {
	white-space: nowrap;
}
.no-list-style {
	list-style: none;
	margin-left: 0;
}
.overline {
	text-decoration: overline;
}
.strike {
	text-decoration: line-through;
}
.underline {
	text-decoration: underline;
}

/* Vertical Alignment */
.valign-baseline {
	vertical-align: baseline !important;
}
.valign-bottom {
	vertical-align: bottom !important;
}
.valign-inherit {
	vertical-align: inherit !important;
}
.valign-middle {
	vertical-align: middle !important;
}
.valign-top {
	vertical-align: top !important;
}


/* =Basic Box Styles
-------------------------------------------------------------- */
.background {
	background: @grayLightest;
	#css3 > .radius(@borderRadius);
	padding: 10px 0;
}
.box.background {
	background: lighten(@grayLightest, 10%);
}
.box {
	border: @borderWidth solid @grayLightest;
	#css3 > .radius(@borderRadius);
	margin-bottom: @bottomMargin;
	padding: 20px 20px 0;
}


/* =Form Elements
-------------------------------------------------------------- */
/* Element Wrappers */
.full-input,
.full-select,
.full-textarea {
	padding-right: 8px;
}
.full-input {
	padding-right: 18px;
}
.full-select {
	padding-right: 0;
}

/* Legend */
legend {
	border-bottom: @borderWidth solid @grayLightest;
	color: @grayDarkest;
	display: block;
	font-size: 18px;
	line-height: 100%;
	.normal-margin;
	padding-bottom: (@bottomMargin / 2);
	width: 100%;
}

/* Labels */
label {
	color: @grayDarkest;
	display: block;
	font-size: 15px;
	margin-bottom: 2px;
}
label.checkbox,
label.radio {
	color: @grayDark;
	font-size: 13px;
	input {
		float: left;
		margin: 3px 5px 0 0;
	}
}
label.inline {
	display: inline-block;
	margin-right: 10px;
}
label.checkbox.inline,
label.radio.inline {
	margin-right: 20px;
}

/* Text Inputs */
input[type="email"],
input[type="password"],
input[type="text"],
select,
textarea {
	background: @white;
	border: @borderWidth solid @grayLightest;
	color: @grayDark;
	#css3 > .radius(@borderRadius);
	font-family: @defaultFontStack;
	font-size: 15px;
	display: block;
	padding: 4px 8px;
	width: 100%;
	#forms >.placeholder();
}
select,
textarea {
	padding: 3px;
}

/* Description Text */
form span.description {
	.text-muted;
	display: block;
	font-style: italic;
	margin-top: 5px;
}
form span.error {
	.text-error;
	display: block;
	font-style: italic;
	margin-top: 5px;
}

/* =Basic Tables
-------------------------------------------------------------- */
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border-bottom: 1px solid @grayLightest;
	padding: 5px;
}
th {
	color: @grayDarker;
	font-weight: bold;
}


/* =Buttons & Button Groups
-------------------------------------------------------------- */
.button-group {
	margin-right: 11px;
	display: inline-block;
}
.buildButton(button, lighten(@muted, 30%), lighten(@muted, 10%), 5px);  // Don't change the first parameter of this function call!!!
.buildAdditionalButton(dark, darken(@muted, 20%), darken(@muted, 40%));
.buildAdditionalButton(primary, lighten(@primary, 20%), @primary);
.buildAdditionalButton(info, lighten(@info, 20%), @info);
.buildAdditionalButton(success, lighten(@success, 20%), @success);
.buildAdditionalButton(warning, lighten(@warning, 20%), @warning);
.buildAdditionalButton(error, lighten(@error, 20%), @error);
.button.small {
	font-size: 12px !important;
	height: 25px !important;
	line-height: 26px !important;
	padding: 0 8px 1px !important;
}
a.button.small {
	height: 26px !important;
	padding-bottom: 0 !important;
}
.after-button {
	display: inline-block;
	line-height: 36px;
}
.after-button.small {
	line-height: 28px;
	position: relative;
	top: 1px;
}


/* =Messages
-------------------------------------------------------------- */
.buildMessage(message, lighten(@muted, 10%));
.buildSecondaryMessage(primary, @primary);
.buildSecondaryMessage(info, @info);
.buildSecondaryMessage(warning, @warning);
.buildSecondaryMessage(error, @error);
.buildSecondaryMessage(success, @success);
.message.block {
		padding: 10px 10px 0;
}